*{
    margin: 0 auto;
    
    
       
}
  
 
header{
    width: 1320px;
    height: 600px;
    background-image:url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
   
    
}

.header-section{
    display: flex;
    width: 1320px;
    height: 600px;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%,);
    opacity: 65%;
    border-radius: 15px;       
}

.primary-color{
    color: white;
}
.secondary-color{
    color: red;
}
.text-align-center{
text-align: center;

}
h3{
    font-family: "Merriweather", serif;
     font-weight:   400;
    font-style: normal;
}

.party{
    width: 632px;
    font-size: 72px;
}
    
.offer{
    margin-top: 100px;
    align-items: center;
    text-align: center;
   
}
h2{
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 30px;
}
p{
    font-size: 24;
    margin-bottom: 10px;
}
h4{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}
.welcome{
    margin-top: 100px;
    width: 1320px;
    height: 600px;
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;    
}
.welcome-bg{
    margin-top: 100px;
    margin-left: 100px;
    padding-top: 100px;
}
.midnight{
    font-weight: bold;
    font-size: 72px;
}
.welcome>p{
margin-left: 100px;
}
div>h3{
    margin-top: 20px;
    margin-left: 10px;
}
div>p{
    margin: 10px;
}
.events-time{
    margin: 100PX;
    align-items: center;
    text-align: center;
    font-size: 32pt;
}
.btn-bg{
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
}

.BEST-OFFER{
    width: 1320px;
    height: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
    
    
}
.elipse{
    width: 250px;
    height: 250px;
    padding: 20px;
    
}
.NEW{
    width: 393px;
    height: 255px;
}
.round-bg{
    border: 10px solid red;
    border-radius: 200px;
}
.holidays-sale{
    width: 1320px;
    height: 986px;
    background-image: url(resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    text-align: center;
    align-items: center;

} 

    
.holidays-sale>p{
    width: 1068px;
    font-size: 20px;
    display: flex;
 
}
.rectangle{
    position: absolute;
    left: auto;
    right: 0;
    top:auto;
    bottom: 220px ;
    z-index: -1;
    
  
    }
.group-forty{
   position: absolute;
   top: auto;
   bottom: 250px;
   left: auto;
   right: 300px;
 
   }
.group-sev{
    scale: .75;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.best-gifts{
    width: 1320px;
    margin-top: 100px;
    
}
.gifts-photo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.best-gifts>p{
    font-size: 24px;
    margin-left: 0;
    width: 900px;
}
.subscribe{
    margin-top: 100px;
    width: 1320px;
    text-align: center;
}
.user{
    padding: 10px 20px;
    border: none;
    background-color: white;
}
.subs{
    color: white;
    background-color: red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    border: none;
}

.fotter-section{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1320px;
    background-color: black;   
    }
.details{
    display: flex;
    
}
.about{
    display: flex;
    justify-content: space-around;
}
.phoneNum{
    display: flex;
    align-items: center;
}
.call{
    width: 15%;
    height: 15%;
}
.website{
    display: flex;
    align-items: center;
}
.social-media{
    width: 25%;
    height: 25%;
    justify-content: center;
    align-items: center;
       
   }
.copyright{
    display: flex;
    justify-content: space-between;
}